<div class="container text-center mt-4">
  <div class="row">
   <% @cocktails.each do |cocktail| %>
   <div class="col-md-4">
     <div class="w-100 card text-center mb-3 mr-4 card-cocktail" style="width: 18rem;">
       <%= cl_image_tag cocktail.photo, height: 300, crop: :fill %>
      <div class="card-body">
        <p><%= cocktail.name %></p>
        <%= link_to "View cocktail", cocktail_path(cocktail.id), class: "btn-ghost" %>
      </div>
    </div>
  </div>
  <% end %>
</div>
<hr>
<p><%= link_to "Create a new cocktail", new_cocktail_path, class: "btn btn-success" %></p>
</div>
