.icon {
  width: 68px;
  margin-left: 20px;
  margin-top: 22px;
}
.trash-icon {
  margin-left: 12px;
}

.icon2 {
  width: 30px;
  margin-left: 20px;
  margin-top: 0px;
  margin-left: 88px !important;
}
.trash-icon2 {
  margin-left: 12px;
}
