
.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 75px;
}

.main-title {
  color: #2d2d2b;
}

.link-add {
  text-decoration: none;
  color: black;
  font-size: 29px;
  margin-right: 26px;
}

.link-add:hover {
  color: #414141 !important;
 }
